/* sass breakpoint mixin */
.button-recept a {
  border: none;
  color: #E8E8EB;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 6px;
  border-radius: 3px;
  font-family: "Merriweather", serif; }

body {
  background-color: #E8E8EB; }

a {
  text-decoration: none;
  color: white; }

.kladdkaka-image {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto; }
  @media (max-width: 45em) {
    .kladdkaka-image {
      width: 100%;
      height: auto; }
      .kladdkaka-image figure img {
        width: 100%;
        height: auto; } }

.information-recept {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #157A6E; }

.to-do {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 27% 23% 23% 27%;
  font-family: "Merriweather", serif;
  color: #555050; }
  @media (min-width: 45em) {
    .to-do {
      grid-template-columns: 20% 30% 30% 20%; } }
  @media (max-width: 45em) {
    .to-do {
      grid-template-columns: 1fr; } }

.ingredienser {
  grid-column: 2/3; }
  @media (max-width: 45em) {
    .ingredienser {
      grid-column: auto; } }
  .ingredienser p {
    border-bottom: 1px solid #555050;
    width: 90%; }
  .ingredienser h1 {
    text-align: center; }
  .ingredienser h2 {
    border-bottom: 1px solid #555050;
    width: 90%;
    text-align: center; }

.do-like {
  grid-column: 3/4; }
  @media (max-width: 45em) {
    .do-like {
      grid-column: auto; } }
  .do-like h1 {
    text-align: center; }

select {
  width: auto;
  padding: 9px 9px;
  margin-bottom: 5px;
  border: none;
  border-radius: 2px;
  background-color: #BEE6CE;
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: #555050; }
  @media (max-width: 45em) {
    select {
      width: auto; } }

.buttons {
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 3px; }

.button-recept {
  text-align: center;
  margin-top: 30px; }
  @media (max-width: 45em) {
    .button-recept a {
      display: block; } }
  .button-recept a:nth-child(1) {
    background-color: #55BCA5; }
  .button-recept a:nth-child(2) {
    background-color: #157A6E; }
