/* sass breakpoint mixin */
.button-recept a {
  border: none;
  color: #E8E8EB;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 6px;
  border-radius: 3px;
  font-family: "Merriweather", serif; }

body {
  background-color: #E8E8EB; }

a {
  text-decoration: none;
  color: white; }

.mobile-menu-bar {
  min-width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #157A6E; }
  .mobile-menu-bar img {
    max-width: 4em;
    margin-right: 2em; }
  .mobile-menu-bar .toggle {
    font-size: 2em;
    margin-left: 1em;
    color: #E8E8EB; }
    .mobile-menu-bar .toggle:hover {
      color: #55BCA5; }

#menu {
  background: #157A6E;
  top: 0;
  bottom: 0;
  transition: ease-in-out 1s;
  min-height: 100vh;
  position: fixed;
  min-width: 12em;
  max-width: 20em;
  widows: 30vw;
  left: -25em; }
  #menu * {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  #menu:target {
    transform: translateX(25em); }
  #menu .close {
    display: block;
    position: relative;
    font-size: 2em;
    margin: 10px;
    color: #E8E8EB; }
    #menu .close:hover {
      color: #55BCA5; }
  #menu .left-menu, #menu .right-menu {
    margin: 1em;
    font-size: 24px; }
    #menu .left-menu li, #menu .right-menu li {
      margin-bottom: 14px; }
      #menu .left-menu li a, #menu .right-menu li a {
        color: #E8E8EB; }
        #menu .left-menu li a:hover, #menu .right-menu li a:hover {
          color: #55BCA5; }
  #menu .left-menu {
    margin-top: 50%; }
  #menu .right-menu {
    margin-top: 40%; }
  #menu .logo {
    display: none; }

@media (min-width: 45em) {
  .mobile-menu-bar {
    display: none; }
  #menu {
    transition: none;
    min-height: initial;
    position: initial;
    min-width: initial;
    max-width: initial;
    widows: initial;
    left: initial;
    display: flex;
    margin: -8px -8px 0px -8px;
    justify-content: space-between;
    align-items: center;
    background: #157A6E; }
    #menu .close {
      display: none; }
    #menu .logo {
      display: block; }
    #menu .left-menu, #menu .right-menu {
      margin: initial;
      font-size: initial; }
      #menu .left-menu li, #menu .right-menu li {
        margin-bottom: initial; }
    #menu .left-menu {
      margin-top: initial; }
    #menu .right-menu {
      margin-top: initial; }
    #menu ul {
      display: flex;
      flex-flow: wrap;
      margin-left: 4em; }
      #menu ul li {
        margin-right: 4em; }
        #menu ul li a {
          color: #E8E8EB;
          font-size: 24px; }
        #menu ul li img {
          max-width: 7em;
          height: auto; } }

.kladdkaka-image {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto; }
  @media (max-width: 45em) {
    .kladdkaka-image {
      width: 100%;
      height: auto; }
      .kladdkaka-image figure img {
        width: 100%;
        height: auto; } }

.information-recept {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #157A6E; }

.to-do {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 27% 23% 23% 27%;
  font-family: "Merriweather", serif;
  color: #555050; }
  @media (min-width: 45em) {
    .to-do {
      grid-template-columns: 20% 30% 30% 20%; } }
  @media (max-width: 45em) {
    .to-do {
      grid-template-columns: 1fr; } }

.ingredienser {
  grid-column: 2/3; }
  @media (max-width: 45em) {
    .ingredienser {
      grid-column: auto; } }
  .ingredienser h1 {
    font-size: 30px; }
  .ingredienser p {
    border-bottom: 1px solid #555050;
    width: 90%; }
  .ingredienser h1 {
    text-align: center; }
  .ingredienser h2 {
    border-bottom: 1px solid #555050;
    width: 90%;
    text-align: center; }

.do-like {
  grid-column: 3/4; }
  @media (max-width: 45em) {
    .do-like {
      grid-column: auto; } }
  .do-like h1 {
    text-align: center; }

select {
  width: auto;
  padding: 9px 9px;
  margin-bottom: 5px;
  border: none;
  border-radius: 2px;
  background-color: #BEE6CE;
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: #555050; }
  @media (max-width: 45em) {
    select {
      width: auto; } }

.buttons {
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 3px; }

.button-recept {
  text-align: center;
  margin-top: 30px; }
  @media (max-width: 45em) {
    .button-recept a {
      display: block; } }
  .button-recept a:nth-child(1) {
    background-color: #55BCA5; }
  .button-recept a:nth-child(2) {
    background-color: #157A6E; }
