
/// breakpoints
$breakpoints:(
    "small": (max-width: 45em),
    "medium": (min-width: 45em),
    "large": (min-width: 94em)

) !default;
    
//colorscheme
$colors: (
    first: #157a6e,
    second: #55bca5,
    third: #bee6ce,
    fourth: #60abab,
    fifth: #555050,
    sixth: #e8e8eb,
 ) !default;

///Font
$font: 'Barlow Semi Condensed', sans-serif;