@include respond-to('medium') { 
section .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:auto;
    max-width: 1200px;
    margin: auto;
    grid-gap:15px;
}
}